	<div class="banner-top container-fluid" id="home">
		<!-- header -->
		<header>
			<div class="row">
				<div class="col-md-3 top-info text-left mt-lg-4">
					<h6>Need Help</h6>
					<ul>
              
							<li>
							<img src="https://img.icons8.com/dusk/64/000000/phone.png" width="25px" /> Call</li>
							<li class="number-phone mt-3">12345678099</li>
						</ul>
				</div>
				<div class="col-md-6 logo-w3layouts text-center">
					<h1 class="logo-w3layouts">
						<a class="navbar-brand" href="index.html">
							Goggles </a>
					</h1>
				</div>

				<div class="col-md-3 top-info-cart text-right mt-lg-4">
					<ul class="cart-inner-info">
						<li class="button-log">
							<a class="btn-open" href="#">
									<img src="https://img.icons8.com/ios-glyphs/30/000000/user-male.png" width="25px"/>
							</a>
						</li>
						<li class="galssescart galssescart2 cart cart box_1">
								<form action="#" method="post" class="last">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="display" value="1">
									<button class="top_googles_cart" type="submit" name="submit" value="">
										My Cart
										<img src="https://img.icons8.com/ios-glyphs/30/000000/buy.png" width="20px"/>
									</button>
								</form>
							</li>
					</ul>
					<!---->
				
					<!---->
				</div>
			</div>
			<div class="search">
					<div class="mobile-nav-button">
						<button id="trigger-overlay" type="button">
							  <img src="https://www.upsieutoc.com/images/2020/04/17/search.png" width="25px" height=""/>
						</button>
					</div>
					<!-- open/close -->
					<div class="overlay overlay-door">
						<button type="button" class="overlay-close">
            
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
						<form action="#" method="post" class="d-flex">
							<input class="form-control" type="search" placeholder="Search here..." required="">
							<button type="submit" class="btn btn-primary submit">
								<i class="fas fa-search"></i>
							</button>
						</form>

					</div>
					<!-- open/close -->
				</div>
			<label class="top-log mx-auto"></label>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						
					</span>
				</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav nav-mega mx-auto">
							<li class="nav-item active">
								<a class="nav-link ml-lg-0" href="index.html">Home
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="about.html">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="about.html">Features</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle"  routerLink="/dashboard" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Admin
								</a>
								
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contact.html">Contact</a>
							</li>
						</ul>

					</div>
			</nav>
		</header>
		<!-- banner -->
	<div class="banner_inner">
			<div class="services-breadcrumb">
				<div class="inner_breadcrumb">

					<ul class="short">
						<li >
              <img src="https://www.upsieutoc.com/images/2020/04/17/banner-mid709715f1a25e028a.jpg"/>
							<a href="index.html">Home/Chi tiết sản phẩm</a>
							
						</li>
					
					</ul>
				</div>
			</div>

		</div>
    	<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
			<div class="container">
				<div class="inner-sec-shop pt-lg-4 pt-3">
					<div class="row">
							<div class="col-lg-4 single-right-left ">
									<div class="grid images_3_of_2">
										<div class="flexslider1">
					
											<ul class="slides">
												<li data-thumb="images/d2.jpg">
													<div class="thumb-image"> <img src="{{product.img}}" data-imagezoom="true" class="img-fluid" alt=" "> </div>
												</li>
											
											</ul>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
								<div class="col-lg-8 single-right-left simpleCart_shelfItem">
									<h3>{{product.name}}</h3>
									<p><span class="item_price">${{product.price}}</span>
										<del>$1,199</del>
                    
									</p>	<ul class="stars">
												<li>
													<a href="#">
														<i ><img src="https://img.icons8.com/officexs/16/000000/star.png"/></i>
													</a>
												</li>
													<li>
													<a href="#">
														<i ><img src="https://img.icons8.com/officexs/16/000000/star.png"/></i>
													</a>
												</li>
													<li>
													<a href="#">
														<i ><img src="https://img.icons8.com/officexs/16/000000/star.png"/></i>
													</a>
												</li>
													<li>
													<a href="#">
														<i ><img src="https://img.icons8.com/officexs/16/000000/star.png"/></i>
													</a>
												</li>
													<li>
													<a href="#">
														<i ><img src="https://img.icons8.com/officexs/16/000000/star.png"/></i>
													</a>
												</li>
											</ul>
                  
                   <div class="tab1">

                                    <div class="single_page">
                                        
                                        <p>{{product.desc}}</p>
                                    </div>
                                </div>
								
								
									
									<div class="occasional">
										<h5>Types :</h5>
										<div class="colr ert">
											<label class="radio"><input type="radio" name="radio" checked=""><i></i> Irayz Butterfly(Black)</label>
										</div>
										<div class="colr">
											<label class="radio"><input type="radio" name="radio"><i></i> Irayz Butterfly (Grey)</label>
										</div>
										<div class="colr">
											<label class="radio"><input type="radio" name="radio"><i></i> Irayz Butterfly (white)</label>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="occasion-cart">
											<div class="googles single-item singlepage">
													<form action="#" method="post">
														<input type="hidden" name="cmd" value="_cart">
														<input type="hidden" name="add" value="1">
														<input type="hidden" name="googles_item" value="Farenheit">
														<input type="hidden" name="amount" value="575.00">
														<button type="submit" class="googles-cart pgoogles-cart">
															Add to Cart
														</button>
														
													</form>
		
												</div>
									</div>
									<ul class="footer-social text-left mt-lg-4 mt-3">
											<li>Share On : </li>
											<li class="mx-2">
												<a href="#">
													<span ><img src="https://img.icons8.com/android/24/000000/facebook-new.png" width="18px"/></span>
												</a>
											</li>
											<li class="mx-2">
												<a href="#">
													<span ><img src="https://img.icons8.com/metro/26/000000/twitter.png" width="18px"/></span>
												</a>
											</li>
											<li class="mx-2">
												<a href="#">
													<span ><img src="https://img.icons8.com/material-sharp/26/000000/google-logo.png" width="18px"/></span>
												</a>
											</li>
											<li class="mx-2">
												<a href="#">
													<span ><img src="https://img.icons8.com/material/24/000000/linkedin.png" width="18px"/></span>
												</a>
											</li>
											<li class="mx-2">
												<a href="#">
													<span ><img src="https://img.icons8.com/material-rounded/24/000000/facetime.png" width="18px"/></span>
												</a>
											</li>
											
										</ul>
			
								</div>
								<div class="clearfix"> </div>
								<!--/tabs-->
							
								<!--//tabs-->
					
					</div>
				</div>
			</div>
				<div class="container-fluid">
					<!--/slide-->
				
					<!--//slider-->
				</div>
		</section>
		<!--//banner -->
	</div>
	<!--// header_top -->
	<!-- top Products -->
	<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
		<div class="container-fluid">

			<div class="inner-sec-shop px-lg-4 px-3">
				<div class="about-content py-lg-5 py-3">
			
				</div>
		
				<!-- //clients-sec -->

			</div>
		</div>
	</section>
  <app-product-se></app-product-se>
  
