	<div class="banner-top container-fluid" id="home">
		<!-- header -->
		<header>
			<div class="row">
				<div class="col-md-3 top-info text-left mt-lg-4">
					<h6>Need Help</h6>
					<ul>
              
							<li>
							<img src="https://img.icons8.com/dusk/64/000000/phone.png" width="25px" /> Call</li>
							<li class="number-phone mt-3">12345678099</li>
						</ul>
				</div>
				<div class="col-md-6 logo-w3layouts text-center">
					<h1 class="logo-w3layouts">
						<a class="navbar-brand" href="index.html">
							Goggles </a>
					</h1>
				</div>

				<div class="col-md-3 top-info-cart text-right mt-lg-4">
					<ul class="cart-inner-info">
						<li class="button-log">
							<a class="btn-open" href="#">
									<img src="https://img.icons8.com/ios-glyphs/30/000000/user-male.png" width="25px"/>
							</a>
						</li>
						<li class="galssescart galssescart2 cart cart box_1">
								<form action="#" method="post" class="last">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="display" value="1">
									<button class="top_googles_cart" type="submit" name="submit" value="">
										My Cart
										<img src="https://img.icons8.com/ios-glyphs/30/000000/buy.png" width="20px"/>
									</button>
								</form>
							</li>
					</ul>
					<!---->
				
					<!---->
				</div>
			</div>
			<div class="search">
					<div class="mobile-nav-button">
						<button id="trigger-overlay" type="button">
							  <img src="https://www.upsieutoc.com/images/2020/04/17/search.png" width="25px" height=""/>
						</button>
					</div>
					<!-- open/close -->
					<div class="overlay overlay-door">
						<button type="button" class="overlay-close">
            
							<i class="fa fa-times" aria-hidden="true"></i>
						</button>
						<form action="#" method="post" class="d-flex">
							<input class="form-control" type="search" placeholder="Search here..." required="">
							<button type="submit" class="btn btn-primary submit">
								<i class="fas fa-search"></i>
							</button>
						</form>

					</div>
					<!-- open/close -->
				</div>
			<label class="top-log mx-auto"></label>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header mb-2">

				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						
					</span>
				</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav nav-mega mx-auto">
							<li class="nav-item active">
								<a class="nav-link ml-lg-0" href="index.html">Home
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="about.html">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="about.html">Features</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Admin
								</a>
								
							</li>
							<li class="nav-item">
								<a class="nav-link" href="contact.html">Contact</a>
							</li>
						</ul>

					</div>
			</nav>
		</header>
		<!-- banner -->
		<div class="banner_inner">
			<div class="services-breadcrumb">
				<div class="inner_breadcrumb">

					<ul class="short">
            
						<li>
              <img src="https://www.upsieutoc.com/images/2020/04/17/banner-mid.jpg" height="100%" />
							<a href="index.html">Home|Chi tiết sản phẩm </a>
              
						
					</ul>
				</div>
			</div>

		</div>
		<!--//banner -->
	</div>
	<!--// header_top -->
	<!-- top Products -->
	<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
		<div class="container-fluid">

			<div class="inner-sec-shop px-lg-4 px-3">
				<div class="about-content py-lg-5 py-3">
					<div class="row">

						<div class="col-lg-6 p-0">
							<img src="{{product.img}}" alt="Goggles" class="img-fluid">
						</div>
						<div class="col-lg-6 about-info">
							<h3 class="tittle-w3layouts text-left mb-lg-5 mb-3">{{product.name}}</h3>
              		<p class="my-xl-4 my-lg-3 my-md-4 my-3">${{product.price}}
							</p>
							<p class="my-xl-4 my-lg-3 my-md-4 my-3">{{product.desc}}
							</p>

						

						</div>
					</div>
				</div>
		
				<!-- //clients-sec -->

			</div>
		</div>
	</section>
  <app-product-se></app-product-se>
